@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?1eehcl');
    src:    url('fonts/icomoon.eot?1eehcl#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?1eehcl') format('truetype'),
        url('fonts/icomoon.woff?1eehcl') format('woff'),
        url('fonts/icomoon.svg?1eehcl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-fly:before {
    content: "\e90f";
}
.icon-edit:before {
    content: "\e900";
}
.icon-markdown:before {
    content: "\e901";
}
.icon-block:before {
    content: "\e902";
}
.icon-shot:before {
    content: "\e903";
}
.icon-code:before {
    content: "\e904";
}
.icon-trend:before {
    content: "\e905";
}
.icon-translate:before {
    content: "\e906";
}
.icon-music:before {
    content: "\e907";
}
.icon-book:before {
    content: "\e908";
}
.icon-images:before {
    content: "\e909";
}
.icon-movie:before {
    content: "\e90a";
}
.icon-display:before {
    content: "\e910";
}
.icon-tool:before {
    content: "\e90b";
}
.icon-amazon:before {
    content: "\e90c";
}
.icon-google:before {
    content: "\e90d";
}
.icon-wikipedia:before {
    content: "\e90e";
}

